.Partners_Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Partners_Section h1 {
    color: #FFF;
    font-family: Monument Extended;
    font-size: 56.679px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.567px;
    text-transform: uppercase;
}

.Partners_images {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.Partners_single_image {
    /* width: 206.26px;
    height: 53.999px; */
    margin-right: 35px;
}

.Partners_button {
    width: 250.233px;
    height: 56.634px;
    border-radius: 35px;
    border: 1px solid #FFF;
    background: rgba(21, 21, 21, 0.76);
    display: flex;
    align-items: center;
    margin-top: 60px;

}

.Partners_button_img {
    width: 36.346px;
    margin-left: 20px;
    margin-right: 10px;

}

.Partners_button h3 {
    color: #FFF;
    text-align: center;
    font-family: Zen Kaku Gothic Antique;
    font-size: 21.28px;
    font-weight: 500;

}