.hero_section {
    width: 100%;
    height: 100vh;
    background-image: url("/bg-img/hero_topology.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_content {
    text-align: center;
}

.hero_content h1 {
    color: #FFF;
    text-align: center;
    font-family: Clash Display;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 91%;
    letter-spacing: 0.75px;
}

.hero_content p {
    max-width: 968px;
    width: 100%;
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
    font-family: Poppins;
    font-size: 27.412px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hero_buttons {
    display: flex;
    margin-top: 30px;
}

.hero_button_one {
    width: 209.766px;
    height: 56.634px;
    border-radius: 35px;
    background: #FFF;
    color: #000;
    cursor: pointer;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_button_two {
    width: 222.964px;
    height: 56.634px;
    border-radius: 35px;
    cursor: pointer;
    border: 1px solid #FFF;
    background: rgba(21, 21, 21, 0.76);
    display: flex;
    align-items: center;
}

.button_icon {
    width: 35px;
    height: 36px;
    margin-left: 15px;
    margin-right: 25px;
}

.hero_button_two_content {
    text-align: center;
}

.hero_button_two_content p {
    font-size: 21.28px;
    font-weight: 500;
    line-height: 0.7;
}

.hero_button_two_content p span {
    color: rgba(255, 255, 255, 0.65);
    font-family: Zen Kaku Gothic Antique;
    font-size: 12.391px;
    font-weight: 500;

}

.scrool_down {
    width: 30px;
    height: 81px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 710px;
}

@media screen and (max-width: 1600px) {
    .scrool_down {
        top: 600px;
    }
}