.project_section {
    width: 100%;
    padding: 40px 0px;
}

.project_section_title {
    color: #FFF;
    font-family: Monument Extended;
    font-size: 56.679px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.project_card_list {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 10px
}