* {
  padding: 0;
  margin: 0;
}

html,
body {

  background: linear-gradient(113deg, #090909 8.46%, #222 102.56%);
  color: #fff;
}

/* ===========Dashboard Start================= */
.dashboard_page {
  width: 100%;
  min-height: 150vh;
  background: #192040;

}

.dashboard_comp {
  width: 80%;
  /* min-height: 100vh; */
  float: right;
}

/* ===========Dashboard end================= */

/* ===========ChatBox Start================= */

.chat-box {
  height: 500px;
  width: 360px;
  position: fixed;
  right: 0px;
  bottom: 13%;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 15;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.005);
  margin: 15px;
  background: #1a3d6e;
  border-radius: 15px;
}

.chat-box-header {
  height: 8%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  font-size: 14px;
  padding: 0.5em 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 -1px 10px rgba(172, 54, 195, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.025);
}

.chat-box-header h3 {
  font-family: ubuntu;
  font-weight: 400;
  float: left;
  position: absolute;
  left: 25px;
}

.chat-box-header p {
  float: right;
  position: absolute;
  right: 16px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 3.25;
  margin: 0;
}

.chat-box-body {
  height: 75%;
  background: #1a3d6e75;
  overflow-y: scroll;
  padding: 12px;
}

.chat-box-body-send {
  width: 250px;
  float: right;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.015);
  margin-bottom: 14px;
}

.chat-box-body-send p {
  margin: 0;
  color: #444;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.chat-box-body-send span {
  float: right;
  color: #777;
  font-size: 10px;
}

.chat-box-body-receive {
  width: 250px;
  float: left;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.015);
  margin-bottom: 14px;
}

.chat-box-body-receive p {
  margin: 0;
  color: #444;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.chat-box-body-receive span {
  float: right;
  color: #777;
  font-size: 10px;
}

.chat-box-body::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
}

.chat-box-footer {
  position: relative;
  display: flex;
  align-items: center;
}

.chat-box-footer button {
  border: none;
  padding: 16px;
  font-size: 14px;
  background: white;
  cursor: pointer;
}

.chat-box-footer button:focus {
  outline: none;
}

.chat-box-footer input {
  padding: 10px;
  border: none;
  -webkit-appearance: none;
  border-radius: 50px;
  background: whitesmoke;
  margin: 10px;
  font-family: ubuntu;
  font-weight: 600;
  color: #444;
  width: 280px;
}

.chat-box-footer input:focus {
  outline: none;
}

.chat-box-footer .send {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  transform: translate(0px, 20px);
  cursor: pointer;
}

.chat-button {
  position: fixed;
  top: 80vh;
  right: 0;
  padding: 13px 8px;
  background: #2A59A4;
  width: 100px;
  margin: 15px auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 2px 15px rgba(44, 80, 239, 0.21);
  cursor: pointer;
}

.chat-button span::before {
  content: "";
  height: 15px;
  width: 15px;
  background: #47cf73;
  position: absolute;
  transform: translate(0, -7px);
  border-radius: 15px;
}

.chat-button span::after {
  font-size: 14px;
  color: white;
  position: absolute;
  left: 50px;
  top: 18px;
}

.chatbob_icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .chat-box {
    min-width: 100% !important;
  }
}

/* ===========ChatBox end================= */


/* ===========Table design Start================= */

table {
  border-collapse: collapse;
  width: 100%;
}


/* tr {
  border-bottom: 1px solid #ccc;
} */

td,
th {
  padding: 10px;
}


.left-column-title {
  text-align: left;
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.right-column-title {
  text-align: right;
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.left-column {
  width: 50%;
  text-align: left;
}

.right-column {
  width: 50%;
  text-align: right;
}

/* ===========Table design end================= */

/* ===========Login SignUp Start================= */
.login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.wrapper_form {
  display: flex;
  flex-direction: column;
}

.wrapper_form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input_field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input_field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input_field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input_field input:focus~label,
.input_field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper_form button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.wrapper_form button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch+label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
  content: '';
  display: block;
}

.checkbox-wrapper-35 .switch+label::before {
  background-color: #00ff15;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.checkbox-wrapper-35 .switch+label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 13px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
  display: block;
  margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
  background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/*========= Dashboard top nav bar start========= */
.dashboard_top_nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 30px; */
  position: absolute;
}

.dashboard_top_title {
  display: flex;
  margin-left: 40px;
}

.dashboard_top_title p {
  color: #FFF;
  font-family: Roboto Mono;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.dashboard_top_title h1 {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*========= Dashboard top nav bar End========= */