.product_section {
  margin-top: 120px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
}

.product_post_section {
  width: 100%;
}

.product_post_section h1 {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product_post_input {
  width: 100%;
  height: 450px;
  display: flex;
}

.product_data_input {
  width: 100%;
  height: 450px;
}

/* ====================== */

.toggle_switch_container {
  align-content: center;
}

.toggleswitch {
  margin: 0;
}

.toggleswitch {
  width: 10px;
  position: relative;
}

.toggleswitch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggleswitch input:checked {
  z-index: 1;
}

.toggleswitch input:checked+label {
  opacity: 1;
  cursor: default;
}

.toggleswitch input:not(:checked)+label:hover {
  opacity: 0.5;
}

.toggleswitch label {
  color: #fff;
  opacity: 0.33;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.toggleswitch .toggle_outside {
  height: 100%;
  border-radius: 17px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.toggleswitch .toggle_inside {
  border-radius: 50%;
  background: #551BF9;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.switch_vertical {
  background-color: #00F;
  width: 0px;
  height: 60px;
  margin-left: 27px;
}

.switch_vertical input {
  height: 100%;
  width: 60px;
  right: 0;
  margin: 0;
}

.switch_vertical label {
  font-size: 17px;
  line-height: 30px;
  display: block;
  width: 150px;
  height: 50%;
  margin: 0;
  text-align: left;
  padding-left: 12px;
}

.switch_vertical .toggle_outside {
  background: #7748f769;
  position: absolute;
  height: 63%;
  right: 0;
  top: 0;
}

.switch_vertical .toggle_inside {
  height: 17px;
  left: 3px;
  top: 3px;
  width: 17px;
}

.switch_vertical input:checked~.toggle_outside .toggle_inside {
  top: 3px;
}

.switch_vertical input~input:checked~.toggle_outside .toggle_inside {
  top: 40px;
}

.product_data_input p {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
}

.content_input {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_input label {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-width: 130px;
}

.content_input input {
  width: 100%;
  height: 37px;
  border-radius: 34px;
  background: #303865;
}

.content_input textarea {
  width: 100%;
  height: 104px;
  border-radius: 34px;
  background: #303865;
}

.product_file_input {
  width: 300.955px;
  border-radius: 34px;
  background: #1C2245;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  stroke-width: 5px;
  stroke: #3757F4;
  filter: blur(0.5px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_file_input span {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_file_input p {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_post_options_btn {
  display: flex;
  gap: 50px;
}

.product_post_toggle_title {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 7px;
  margin-bottom: 20px !important;
}

.product_order_btn {
  margin-top: 30px;
  width: 100%;
  height: 37px;
  border-radius: 22px;
  background: #3556F4;
  box-shadow: 4px 4px 48px 0px rgba(0, 0, 0, 0.15);

  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product_post_card_section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product_post_card_box {
  margin-right: 30px;
  width: 100%;
}

.product_post_card_box h1 {
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product_post_card_box p {
  margin-top: 20px;
  color: #FFF;
  font-family: Roboto Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product_post_card {
  padding: 30px;
  margin-top: 20px;
  height: 609px;
  border-radius: 34px;
  background: #1C2245;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.product_card_btn_box {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.product_card_btn_box button:nth-child(1) {
  width: 50%;
  height: 37px;
  border-radius: 22px;
  background: #3556F4;
  box-shadow: 4px 4px 48px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product_card_btn_box input{
  width: 50%;
  height: 37px;
  border-radius: 34px;
  background: #303865;

  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  cursor: pointer;
}

.product_card_download_btn {
  height: 37px;
  border-radius: 22px;
  background: #3556F4;
  box-shadow: 4px 4px 48px 0px rgba(0, 0, 0, 0.15);

  color: #FFF;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product_post_card_img_box {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr_image {
  width: 195px;
  height: 261px;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  .product_section {
    margin-top: 80px;
    padding-bottom: 30px;
  }
}