.profile_section {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
}

.profile_address_section {
    display: flex;
    width: 170px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background: #3556F4;
    box-shadow: 4px 4px 48px 0px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
}

.profile_img_section {
    width: 52px;
    height: 44px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #3556F4;
    box-shadow: 4px 4px 48px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.profile_img {
    width: 35px;
    height: 35px;
}