.Nav_analytics {
    width: 327px;
    height: 80%;
    flex-shrink: 0;
    border-radius: 97px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    background: rgba(86, 86, 86, 0.30);
    backdrop-filter: blur(40.5px);
    position: fixed;
    left: 20px;
    top: 150px;
}

.Nav_analytics_cancel_btn {
    width: 200px;
    float: right;
    margin-top: 50px;
    margin-right: 16px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.left_double_arrow {
    width: 29px;
    height: 29px;
    margin-right: 5px;

}

.Nav_analytics_cancel_btn p {
    color: #FFF;
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 13px;
}

.Nav_analytics_title {
    width: 190px;
    float: right;
    margin-top: 50px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 20px;
}

.Nav_analytics_title h1 {
    color: #FFF;
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Nav_analytics_title p {
    color: #FFF;
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.Nav_analytics_btn_list {
    width: 100%;
    position: relative;
}

.Nav_analytics_btn_single {
    width: 190px;
    height: 50px;
    border-radius: 97px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    background: rgba(86, 86, 86, 0.85);
    backdrop-filter: blur(40.5px);
    color: #FFF;
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.40);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    float: right;
    margin-right: 13px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}